<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flink.streaming.web.mapper.SystemConfigMapper">
  <resultMap id="BaseResultMap" type="com.flink.streaming.web.model.entity.SystemConfig">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="key" jdbcType="VARCHAR" property="key"/>
    <result column="val" jdbcType="VARCHAR" property="val"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
    <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
    <result column="creator" jdbcType="VARCHAR" property="creator"/>
    <result column="editor" jdbcType="VARCHAR" property="editor"/>
  </resultMap>

  <sql id="Base_Column_List">
    id
    , `key`, val,type, is_deleted, create_time, edit_time, creator, editor
  </sql>

  <insert id="insert" parameterType="com.flink.streaming.web.model.entity.SystemConfig">
    insert into system_config (id, `key`, val, type, is_deleted,
                               create_time, edit_time, creator,
                               editor)
    values (#{id,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR}, #{val,jdbcType=VARCHAR},
            #{type,jdbcType=VARCHAR}, 0,
            now(), now(), 'sys',
            'sys')
  </insert>

  <update id="deleteByKey">
    update system_config
    set is_deleted=1
    where `key` = #{key,jdbcType=VARCHAR}
      and is_deleted = 0
  </update>

  <select id="selectAllConfig" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from system_config
    where is_deleted=0
    <if test="type != null and type != '' ">
      <![CDATA[
	              and type= #{type,jdbcType=VARCHAR}
			 ]]>
    </if>
  </select>


  <select id="selectConfigByKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from system_config
    where is_deleted=0 and `key`= #{key,jdbcType=VARCHAR}
  </select>


  <update id="updateByKey" parameterType="com.flink.streaming.web.model.entity.SystemConfig">
    update system_config
    <set>
      <if test="val != null">
        val = #{val,jdbcType=VARCHAR},
      </if>
    </set>
    where is_deleted=0 and `key`= #{key,jdbcType=VARCHAR}
  </update>
</mapper>
